<div class="clearfix padding-top-30 padding-bottom-20">
    <div class="container">
        <div class="row">
          <div class="footer_box">
            <div class="contact-us text-left padding-right-80 margin-top-20">
              <span class="us-pstion"">联系我们：</span>
              <div class="lh-normal">
                <span style="font-size: 36px;"><b>028-88866645</b></span>
              </div>
              <div class="lh-normal">
                <span style="font-size: 36px;"><b>028-66688813</b></span>
              </div>
            </div>
            <div class="forMargin">
              <img src="/images/right.png" alt="">
            </div>
            <div class="contact-info text-left padding-left-100 padding-right-40 line-height-2">
              <p style="cursor: pointer;"><span>联系QQ：12011256</span></p>
              <p><span>手机：18642265942</span></p>
              <p><span>联系邮箱：yes21@sss.com</span></p>
              <p><span>网站备案/许可证号：粤ICP备16037140号</span></p>
              <p><span>联系地址：深圳市信驰达科技有限公司</span></p>
            </div>
            <div class="forMargin">
              <img src="/images/right.png" alt="">
            </div>
            <div class="add-code text-left padding-left-100">
              <div class="forMargin" style="overflow:inherit;">
                <img src="/images/code.jpg" alt="" width="148px;" height="148px">
                <p class="text-p font-weight-700">添加微信，成为城市合伙人</p>
              </div>
            </div>
          </div>
          <div class="copyright text-left text-lg-center">版权所有© Copyright 2014-2019 深圳市信驰达科技有限公司 <span>粤ICP备16037140号</span> </div>
        </div>
    </div>
</div>